@import "../base/variables";

.advantages {
	background: linear-gradient(to top, #3b1c45 0%, #15071e 100%);

	h1,span {
		display: flex;
		justify-content: center;
	}
	span {
		font-size: $primary-font-size;
		color: $text-primary;

		&:hover {
			text-decoration: underline;
		}
	}
	button {
	display: flex;
	margin: auto;
	margin-bottom: 30px;
	}
	.try {
		display: flex;
		text-align: center;
		margin: 75px 0;

		img {
			align-items: center;
		}


		p {
			font-size: 16px;
			color: $text-primary;
			opacity: .7;
			font-weight: $regular-font-weight;
			line-height: 30px;
		}

		h2 {
			font-size: 28px;
		}
		.ecommerce {
			border-radius: $small-radius;
			box-shadow: $box-shadow;
			background:url(/images/firstlines.png) no-repeat 100% -20%, linear-gradient(180deg, #63466e 0%, #603f6b 100%);
			padding: 70px 60px;
		}
		.members {
			border-radius: $small-radius;
			box-shadow: $box-shadow;
			background:url(/images/thirtylines.png) no-repeat 70% 0%, linear-gradient(180deg, #63466e 0%, #603f6b 100%);
			margin: 0px 20px;
			padding: 55px 60px;
		}
		.analyze {
			border-radius: $small-radius;
			box-shadow: $box-shadow;
			background:url(/images/secondlines.png) no-repeat 100% 0%, linear-gradient(180deg, #63466e 0%, #603f6b 100%);
			padding: 55px 46px;
		}
	}
}