@import "../base/variables";

.create {
	background: url(/images/Oval.png) no-repeat center #17081f;

	h1 {
		justify-content: center;
   		display: flex;
	}

	.us-contacts {
		display: flex;
		justify-content: center;

		li {
			padding: 40px 30px;
			display: flex;
			align-items: center;

			img {
				padding: 15px;
		}
	}	
}
	button {
		display: flex;
		margin: 56px auto 186px;
	}			
}