@import "../base/variables";
.monetize {
	background: linear-gradient(to top, #1d0c25 0%, #3a1c46 100%);

	.container {
		background: url(/images/social.png) no-repeat top right;

		.past {
			width: 50%;
			margin-top: 80px;
			padding-top: 10px;

			button {
				margin: 30px 0px 120px;
			}

				.block {
					width: 70%;
					li {
					font-size: $primary-font-size;
					font-weight:$regular-font-weight ;
					list-style-position: outside;
					line-height: 31px;
					margin-bottom: 31px;
					img {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

.template {
	background: url(/images/templates-line.png) no-repeat 60% 10%, linear-gradient(180deg, #1d0c25 0%, #15071e 100%);
	position: relative;

	h1,span {
		display: flex;
		justify-content: center;
	}
	button {
		position: absolute;
		left: 50%;
		top: 48%;
		transform: translateX(-50%);
		
	}

	.carousel {
		overflow: hidden;
		margin: 75px 0 350px;

	}
}
.awesome {
	background: linear-gradient(180deg, #16061d 0%, #2a1432 52%, #15071e 100%);

	h1,span {
		display: flex;
		justify-content: center;
	}

	.table {
		margin: 40px 0 70px;
		display: flex;
		justify-content: center;

		img {
			max-width: 110px;
			max-height: 110px;
		}

		img:nth-child(2n) {
			margin-top: 20px;
		}
	}
}
.plans {
	background: linear-gradient(180deg, #16061d 0%, #35193f 52%, #17081f 100%);
		h1,span {
		display: flex;
		justify-content: center;
	}
	button {
		margin: 40px 0px;
	}
	ul {
		margin-top: 40px;
		text-align: left;
   		padding: 20px;

   		li {
   			font-size: $small-font-size;   
   			font-weight: $regular-font-weight;		
   		}
	}

	.choose {
		display: flex;
		text-align: center;
		justify-content: center;
		margin-top: 50px;

		div {
			border-radius: 8px;
		}

	}
	.purrple {
		background: linear-gradient(180deg,#63466e,#603f6b);
		margin-top: 40px;
		max-width: 20%;
	}
	.off {
		background: $white;
		align-items: stretch;
		min-width: 25%;
		color: black;
		margin:0px 30px;

		.discound {
			background: $coral;
			color: $white;
			font-size: $heading-font-size;
			font-weight: $bold-font-weight;
		}
	}
}
